In [3]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [4]:


df = pd.read_csv("Pct_People_Below_Poverty_Level.csv")

print(df.head())

  Geographic Area             City poverty_rate
0              AL       Abanda CDP         78.8
1              AL   Abbeville city         29.1
2              AL  Adamsville city         25.5
3              AL     Addison town         30.7
4              AL       Akron town           42